@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);

body {
    font-family: Raleway, sans-serif;
    font-weight: 100;
}

a {
    color: #808080;
    text-decoration: none;
}

/** DECK **/
.deck {
    width: 100%;
    margin: auto;

    display: block;
}

.ruler > hr {
    margin-left: 5%;
    margin-right: 5%;
}

.advance {
    font-size: 28px;

}

/** SLIDE **/

.slide {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    margin-top: 32px;
    margin-bottom: 32px;

    text-align: center;
}

.slide > .words {
    order: 0;
    flex-basis: 600px;
    flex-grow: 0.2;
    flex-shrink: 2;

    margin: 8px 32px 8px 32px;

    text-align: center;
}

.slide > .words > .title {
    text-align: left;

    font-size: 28px;
    font-weight: bold;

    margin-bottom: 32px;
}

.slide > .words > .description {
    text-align: left;

    font-size: 24px;
}

.slide > .words > .description > p {
    margin-top: 0em;
    margin-bottom: 0.7em;
}

.slide > .puzzle {
    order: 1;

    margin: 8px 32px 8px 32px;
}

.slide > .gap {
    order: 1;

    margin: 8px 32px 8px 32px;
}

.slide > .choice {
    order: 1;
    align-self: center;
    margin: 8px 32px 8px 32px;
}
.slide > .choice > .colorButton {
    width: 128px;
    height: 128px;
    border-radius: 32px;

    margin: 16px;

    background-color: #000;

    cursor: pointer;
    transition: 0.2s;

    display: inline-block;
}

.slide > .choice > .colorButton:hover {
    opacity: 0.5;
}

/** SANDBOX **/

.page {
    width: 100%;
    margin: auto;
    text-align: center;
}

.sandbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.openContainer {
    width: 0;
    height: 0;
    z-index: 0;
}

.open {
    width: 40px;
    height: 40px;
    margin-left: 16px;

    position: absolute;

    font-size: 36px;
    overflow: visible;
    cursor: pointer;
    transition: 0.2s;
    color: #bbb;
    z-index: 0;
}

.open:hover {
    color: #888;

}

.sandbox > .tools {
    width: 0px;
    background: #444;
    overflow: hidden;
    margin-left: 0px;
    transition: 0.5s;
    z-index: 1;
}

.sandbox > .tools > .container {
    width: 280px;
    z-index: 1;
}

.sandbox > .tools > .container > hr {
}

.sandbox > .tools > .container > .close {
    float: right;

    font-size: 32px;
    margin-right: 16px;
    cursor: pointer;
    transition: 0.2s;
    color: #bbb;
}

.sandbox > .tools > .container > .close:hover {
    color: #fff;

}

.sandbox > .tools > .container > .quantity {
    margin: 8px;
}

.sandbox > .tools > .container > .spacer {
    height: 8px;    
    clear: both;
}

.sandbox > .tools > .container > .quantity > .number {
    display: inline;
    float: left;

    line-height: 50px;
    font-size: 24px;
    color: #fff;
    
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.sandbox > .tools > .container > .quantity > .button {
    display: inline-block;
    float: left;

    margin-right: 8px;
    width: 50px;
    height: 50px;

    background: #888;
    border-radius: 8px;

    line-height: 50px;
    font-size: 28px;
    color: #fff;

    cursor: pointer;
    transition: 0.2s;
    
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.sandbox > .tools > .container > .quantity > .button:hover {
    background-color: #bbb;
}

.url {
    margin-right: 8px;
    height: 24px;
}

.url > .name {
    display: inline-block;
    float: right;

    margin-right: 8px;

    text-align: right;
    line-height: 24px;
    font-size: 24px;
    color: #fff;
    
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.url > .field {
    width: 60%;
    float: right;

    line-height: 24px;
}