@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);

body {
    font-family: Raleway, sans-serif;
    font-weight: 100;

    width: 100%;
    margin: auto;
}

/** DECK **/

.deck {
    width: 100%;
    margin: auto;

    display: block;
}

.title {
    width: 100%;
    margin: 32px auto 32px auto;

    font-size: 72px;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    width: 100%;
    margin: 0px auto 80px auto;

    font-size: 40px;
    text-align: center;
}

.ruler > hr {
    margin-left: 5%;
    margin-right: 5%;
}

/** SLIDE **/

.slide {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    margin-top: 32px;
    margin-bottom: 32px;

    text-align: center;
}


.slide > .words {
    order: 0;
    flex-basis: 640px;
    flex-grow: 0.2;
    flex-shrink: 0.1;

    margin: 8px 16px 8px 16px;

    text-align: center;
}
.slide > .words a {
    text-decoration: none;
    color: blue;
}

.slide > .words > .title {
    text-align: left;

    font-weight: normal;
    font-size: 28px;

    color: #888;
    margin-bottom: 32px;
}

.slide > .words > .title > b {
    font-size: 28px;
    color: #222;
}

.slide > .words > .description {
    text-align: left;

    font-size: 24px;
}
.slide > .words > .description > p {
    margin-top: 0em;
    margin-bottom: 0.7em;
}

.slide > .words > .bullets {
    text-align: center;
    width: 100%;

    font-size: 24px;
}
.slide > .words > .bullets > div {
    margin: 24px;
}

.slide > .words > .closer {
    text-align: center;

    margin: 32px;
    font-size: 28px;
}

.slide > .words > .credits {
    text-align: center;
    margin-top: 32px;

    font-size: 22px;
    color: #bbb;
}
.slide > .words > .credits > p {
    margin-top: 0em;
    margin-bottom: 0.7em;
}


.slide > .puzzle {
    order: 1;

    width: 640px;
    height: 640px;

    margin: 8px 16px 8px 16px;

    border: 1px solid black;
    
    touch-action: none;
}

.slide > .gap {
    order: 1;

    margin: 8px 32px 8px 32px;
}

.slide > .choice {
    order: 1;
    align-self: center;
    margin: 8px 32px 8px 32px;
}
.slide > .choice > .colorButton {
    width: 128px;
    height: 128px;
    border-radius: 32px;

    margin: 16px;

    background-color: #000;

    cursor: pointer;
    transition: 0.2s;

    display: inline-block;
}
.slide > .choice > .colorButton:hover {
    opacity: 0.5;
}
