@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);

body {
    font-family: Raleway, sans-serif;
    font-weight: 100;
}

a {
    color: #808080;
    text-decoration: none;
}

/** DECK **/
.deck {

    width: 100%;
    margin: auto;

    display: block;
}

.ruler > hr {
    margin-left: 5%;
    margin-right: 5%;
}

.advance {
    font-size: 28px;

}

/** SLIDE **/

.slide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    margin-top: 32px;
    margin-bottom: 32px;

    text-align: center;
}

.slide > .words {
    order: 0;
    flex-basis: 400px;
    flex-grow: 0.2;
    flex-shrink: 2;

    margin: 8px 32px 8px 32px;

    text-align: center;
}

.slide > .words > .title {
    text-align: left;

    font-size: 28px;
    font-weight: bold;

    margin-bottom: 32px;
}

.slide > .words > .description {
    text-align: left;

    font-size: 24px;
}

.slide > .words > .description > p {
    margin-top: 0em;
    margin-bottom: 0.7em;
}

.slide > .puzzle {
    order: 1;

    margin: 8px 32px 8px 32px;
}