@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);

body {
    font-family: Raleway, sans-serif;
    font-weight: 100;

    width: 100%;
    margin: auto;
}

/** SANDBOX **/

.page {
    width: 100%;
    margin: auto;
    text-align: center;
}

.title {
    width: 100%;
    margin: 16px;

    font-size: 64px;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    width: 100%;
    margin: 0 auto 32px auto;

    font-size: 32px;
    text-align: center;
}

.redirect {
    width: 100%;
    margin: 16px auto 144px auto;

}

.redirect > a {
    color: #888;
    font-size: 16px;
    text-align: center;

    text-decoration: none;
}

.sandbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.openContainer {
    width: 0;
    height: 0;
    z-index: 0;
}

.openButton {
    width: 40px;
    height: 40px;
    margin-left: 16px;

    position: absolute;

    font-size: 36px;
    overflow: visible;
    cursor: pointer;
    transition: 0.2s;
    color: #bbb;
    z-index: 0;
}

.openButton:hover {
    color: #888;

}

.sandbox > .tools {
    width: 0px;
    background: #444;
    overflow: hidden;
    margin-left: 0px;
    transition: 0.5s;
    z-index: 1;
}

.sandbox > .tools > .container {
    width: 280px;
    z-index: 1;
}

.sandbox > .tools > .container > hr {
}

.sandbox > .tools > .container > .close {
    float: right;

    font-size: 32px;
    margin-right: 16px;
    cursor: pointer;
    transition: 0.2s;
    color: #bbb;
}

.sandbox > .tools > .container > .close:hover {
    color: #fff;

}

.sandbox > .tools > .container > .quantity {
    margin: 8px;
}

.sandbox > .tools > .container > .spacer {
    height: 8px;    
    clear: both;
}

.sandbox > .tools > .container > .quantity > .number {
    display: inline;
    float: left;

    line-height: 50px;
    font-size: 24px;
    color: #fff;
    
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.sandbox > .tools > .container > .quantity > .button {
    display: inline-block;
    float: left;

    margin-right: 8px;
    width: 50px;
    height: 50px;

    background: #888;
    border-radius: 8px;

    line-height: 50px;
    font-size: 28px;
    color: #fff;

    cursor: pointer;
    transition: 0.2s;
    
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.sandbox > .tools > .container > .quantity > .button > img {
    width: 24px;
    height: 24px;
    margin-top: 12px;
}

.sandbox > .tools > .container > .quantity > .button:hover {
    background-color: #bbb;
}

.url {
    margin-right: 8px;
    height: 24px;
}

.url > .name {
    display: inline-block;
    float: right;

    margin-right: 8px;

    text-align: right;
    line-height: 24px;
    font-size: 24px;
    color: #fff;
    
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.url > .field {
    width: 60%;
    float: right;

    line-height: 24px;
}